:root {
	--color-background: #e6cbae;
	--color-background1: #E6AA68;
	--color-header: #1b1905;
	--color-border: #1b1905;
	--color-section: #709a5c;

	--color-section1: #6A8EAE;
	--color-section2: #84BCDA;

	--color-background1: #F7EDE2;
	--color-hyundaiyellow: #F6BD60;
	--color-cambridgeblue: #84A59D;
	--color-tearose: #F5CAC3;
	--color-lightcoral: #F28482;
	--color-lemonchiffon: #FFFBBD;
	--color-link: #CA3C25;

	--color-lightblue: #9BD1EF;
	--color-jade: #57A773;
	--color-darkspringgreen: #157145; 
}